* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #1992d4;
    --highlight: #f0b429;
    --background: #e2e8f0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-size: 16px;
}

nav {
    background-color: var(--primary);
    color: white;
    padding: 1rem;

    & * {
        color: white;
    }
    
    & svg,& img {
        margin-right: 2rem;
    }

    & ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        & li {
            display: flex;
            align-items: center;
            padding: 0.5rem;

            & a {
                font-size: large;
                font-weight: 600;
                text-decoration: none;
            }
        }

    }
}

.filter-color {
    filter: invert(100%) sepia(72%) saturate(2%) hue-rotate(85deg) brightness(109%) contrast(101%);
}

.title {
    display: flex;
    & h2 {
        display: inline;
    }
    margin-bottom: 2rem;
}

header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
}

.header-row-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
}